%h1 Statistics
%table
  %tr
    %th User
    %th Posts
    %th Comments
  - @users.each do |user|
    %tr
      %td= "#{user.first_name} #{user.last_name}"
      %td= user.posts_count
      %td= user.comments_count
%br
= link_to 'Back', root_path
