%h1 Listing posts
%table
  %tr
    %th Title
    %th User
    %th
    %th
    %th
  - @posts.each do |post|
    %tr
      %td= link_to post.title, post
      %td= "#{post.user.first_name} #{post.user.last_name}" if post.user
      - if current_user && current_user.admin
        %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }
%br
= link_to 'New Post', new_post_path
|
= link_to 'Back', root_path
